<!DOCTYPE html>
<html>
    <title>Financial Planner</title>
    <head>
        <link rel="stylesheet" href="style.css" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
        <script src="controll.js"></script>
    </head>
    
    <body>
        <h1>Personal Financial Planner</h1>
        <div ng-app='app' ng-controller='mainCtrl'>
        <form>
            <input placeholder='Amount' ng-model='userForm.baseCurr'/>
            <input placeholder='Item' ng-model='userForm.convCurr'/>
            <button type='submit'>Add New</button>
        </form>
        <ul class='amount-list'>
          <li ng-repeat='name in amount'>
      </li>
    </ul>
    </div>
    </body>
</html>